.navBarContainer {
	padding: 10px 30px;
	border: 1px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navBarContainer_items {
	margin-left: 40px;
}

.navBarContainer_items_singleItem {
	margin: 0px 10px;
	cursor: pointer;
}

.navBarContainer_items_singleItem:hover {
	color: blue;
}

.navBarContainer_registerButtonContainer {
	position: relative;
}

.navBarContainer_registerButtonContainer_LoggedOutNotification {
	width: 200px;
	padding: 20px;
	background-color: lightblue;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 1000;
}
