* {
	box-sizing: border-box;
}

.addPadding {
	padding: 60px;
	border: 1px solid;
}

.warningText {
	color: red;
	font-weight: bold;
}

// borders

.drr {
	border: 2px solid red;
}

.dbb {
	border: 2px solid blue;
}

.dgg {
	border: 2px solid green;
}

.ddd {
	border: 2px solid black;
}

.dyy {
	border: 3px solid yellow;
}

// backgrounds

.bgr {
	background-color: red;
}

.bgb {
	background-color: blue;
}

.bgg {
	background-color: green;
}

.bgd {
	background-color: lightgray;
}

.bgy {
	background-color: yellow;
}

.bgo {
	background-color: orange;
}

.bgpnk {
	background-color: pink;
}

//********************************************************************
//          MARKETPLACE PAGE
// *******************************************************************

.MarketPlacePage a {
	color: black;
	text-decoration: none;
}

// table
.MarketPlacePage table {
	margin-bottom: 25px;
}

.MarketPlacePage table:hover {
	border: 2px solid red;
	cursor: pointer;
}

.MarketPlacePage th,
.MarketPlacePage td {
	border: 1px solid lightgray;
	padding: 5px;
}

.MarketPlacePage th {
	width: 200px;
}

.MarketPlacePage td {
	width: 400px;
}

//********************************************************************
//         SingleProject
// *******************************************************************

.SingleProject th {
	width: 100px;
}
